/* Other awesome stuff that will go in here*/

@import url(http://fonts.googleapis.com/css?family=Lato:300);

.sample-content { 
	width : 75%;
	margin : 0 auto;
	margin-top : 15%;
}

.itemOne {
	padding : 10px 100px 10px 100px;
}
h1 {
	font-family: "Helvetica Neue";
	font-weight: 300;
	font-size : 2em;
	color : #2c3e50;
	margin : 0px;
	margin-top : 2px;
	width : auto;
	line-height : 70px;
	word-spacing: 8px;
}