/* Other awesome stuff that will go in here*/

body {
	background-color : #F2F2F5;
}

.hidden {
	display : none;
}

.container { 
	width : 75%;
	margin : 0 auto;
	margin-top : 15%;
}

.note{
	padding : 10px 100px 10px 100px;
}
h1 {
	font-family: "Proxima Nova";
	font-weight: 300;
	font-size : 2em;
	color : #F2F2F5;
	margin : 0px;
	margin-top : 2px;
	width : auto;
	line-height : 80px;
	word-spacing: 8px;
	cursor : default;
	padding : 0px 0px 0px 20px;
	-webkit-user-select : none;

}

.hidden_word {
	border-bottom : 2px solid #ccc;
	transition : all 0.3s;
}