/* Other awesome stuff that will go in here*/

body {
	background-color : #fff;
}

.hidden {
	display : none;
}

.show_btn {
	margin-top : 35px;
	cursor : pointer;
}

.container { 
	width : 85%;
	margin : 0 auto;
	margin-top : 9%;
}

.note{
	padding : 10px 100px 10px 100px;
}
h1 {
	font-family: "Helvetica Neue";
	font-weight: 300;
	font-size : 2em;
	color : #fff;
	margin : 0px;
	margin-top : 2px;
	width : auto;
	line-height : 80px;
	word-spacing: 8px;
	cursor : default;
	padding : 0px 0px 0px 20px;
	-webkit-user-select : none;
	/*border : 1px solid black;*/
}

.hidden_word {
	border-bottom : 2px solid #ccc;
	transition : all 0.3s;
}