/* Other awesome stuff that will go in here*/

body {
	background-color : #fff;
	-webkit-user-select : none;
}

.hidden {
	display : none;
}

.show_btn {
	margin-top : 45px !important;
	cursor : pointer;
	display : none !important;
	z-index : 10 !important;
}

.container { 
	width : 80%;
	margin : 0 auto;
	margin-top : 9%;
}

.note{
	padding : 10px 100px 10px 100px;
}

.important_display {
	display : inline-block !important;
}

h1 {
	font-family: "Helvetica Neue","Lato";
	font-weight: 300;
	font-size : 2em;
	color : #fff;
	margin : 0px;
	margin-top : 2px;
	width : auto;
	line-height : 80px;
	word-spacing: 8px;
	cursor : default;
	padding : 0px 0px 0px 20px;
	-webkit-user-select : none;
}

.hidden_word {
	border-bottom : 2px solid #ccc;
	transition : all 0.3s;
}

/*For the bulb click effect*/
/* Stana */
.cbutton {
	position: relative;
	display: inline-block;
	margin: 1em;
	padding: 0;
	border: none;
	background: none;
	color: #286aab;
	font-size: 1.4em;
	transition: color 0.7s;
}

.cbutton.cbutton--click,
.cbutton:focus {
	outline: none;
	color: #3c8ddc;
}

.cbutton__icon {
	display: block;
}

.cbutton__text {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.cbutton::after {
	content: '';
	position: absolute;
	top: 0%;
	left: 0%;
	/*margin: -35px 0 0 -35px;*/
	width: 70px;
	height: 70px;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
}

.cbutton--effect-stana .cbutton__helper {
	position: absolute;
	top: 18px;
	left: 16px;
	margin: -40px 0 0 -40px;
	width: 80px;
	height: 80px;
	opacity: 0;
	pointer-events: none;
}

.cbutton--effect-stana line {
	fill: none;
	stroke-width: 2;
}

.cbutton--box-color-7 line {
	stroke: #000;
}

.cbutton--box-color-8 line {
	stroke: #7bff00;
}

.cbutton--box-color-9 line {
	stroke: #fff;
}

.clip-ring {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.cbutton--effect-stana.cbutton--click .cbutton__helper {
	-webkit-animation: anim-effect-stana 0.6s ease-in forwards;
	animation: anim-effect-stana 0.6s ease-in forwards;
}

@-webkit-keyframes anim-effect-stana {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0.3;

		-webkit-animation-timing: ease-out;
		animation-timing: ease-out;
	}
}

@keyframes anim-effect-stana {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0.3;

		-webkit-animation-timing: ease-out;
		animation-timing: ease-out;
	}
}

.cbutton--effect-stana.cbutton--click .clip-ring {
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
	-webkit-transform: scale3d(3, 3, 1);
	transform: scale3d(3, 3, 1);
}

.backhilite {
	position : absolute;
	background-color: #f1c40f;
	z-index : -999;
}

.deleteContainer {
	position : absolute;
	background-color : #e74c3c;
	display : none;
}

.deleteContainer img {
	position: absolute;
	padding : 5px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor : pointer;
}

.little_blub {
	display : block;
	width : auto;
	height : auto;
	margin : 0 auto;
	margin-top : -300px;
}

.addNew {
	position : absolute;
	top : 40px;
	left : 40px;
	padding : 8px;
	cursor : pointer;
	/*z-index : 12;*/
	border-radius : 200px;
}

.nextNote{
	position : absolute;
	top : 40px;
	right : 40px;
	padding : 8px;
	cursor : pointer;
}

.noNotes {
	font-size : 1.5em;
	color : #8B8B8B;
	font-family: "Helvetica Neue", "Lato";
	font-weight : 300;
	padding : 40px 10px;
	width : auto;
	height : auto;
	margin : 0 auto;
	margin-top : -100px;
}

.addMessage {
	font-size : 1.2em;
	color : #8B8B8B;
	font-family: "Helvetica Neue", "Lato";
	font-weight : 300;
	padding : 40px 10px;
	width : auto;
	height : auto;
	margin : 0 auto;
	margin-top : -100px;
}

/* Overlay style */
.new_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,1);
	opacity: 0;
	visibility: hidden;
/*	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
*/}

/*/* Overlay closing cross */

/*.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 1000;
}
*/

.new_overlay.open {
	opacity: 1;
	visibility: visible;
	z-index : 11;
/*	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
*/}

textarea.new_note {
	resize : none;
	position : absolute;
	top : 20%;
	left : 8%;
	border : none;
	width : 80%;
	height : 250px;
	font-family : "Lato";
	font-weight : 300;
	font-size : 2.2em;
}

textarea.new_note:focus {
	outline-width : 0;
}
